<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="server" type="text" label="[COLOR yellow]Server:[/COLOR]" default="iptv.teamexpat.ninja"/>
    <setting id="port" type="text" label="[COLOR yellow]Port:[/COLOR]" default="8000"/>
    <setting id="user" type="text" label="[COLOR yellow]Username:[/COLOR]" default="Please visit: facebook.com/groups/TeameXpat"/>
    <setting id="pass" type="text" label="[COLOR yellow]Password:[/COLOR]" default="for more info and login informations. Thanks"/>
</settings>
