<settings>
<category label="General">
     <setting id="Username" type="text" label="Username" default="expatpreview"/>
     <setting id="Password" type="text" option="writeable,hidden" label="Password" default="w3@ar3b3tt3r"/>
	 <setting id="note" type="text" label="Note:" default="Once credentials are enter click clear cache"/>
	 <setting id="vanemalukk" type="bool" label="Parental lock?"value="true"/>
	 <setting id="vanemakood" type="text" option="writeable,hidden" label="Parental code" default="1234"/>
	 <setting id="extend" type="select" label="Player Format" values="ts|m3u8" default="m3u8" />
</category>
</settings>